<div class="bg-loader">
    <div class="loader"></div>
</div>
<header>
    <div class="container">
        <h1><strong>About</strong> </h1>
    </div>
</header>

<!-- service-->
<section class="service">
    <div class="container" style="display: flex;">
        <div class="box"
            style="display: flex; background-color: #ccaf7e; padding: 2rem; margin: 1rem; border-radius: 1rem;">
            <div style="width: 60%; padding-right: 3rem;">
                <div class="col-4" style="padding-bottom: 2rem;">
                    <p style="font-weight: 800; font-size: 1.5rem; color:#402218 ;">Alamat</p>
                    <p style="color: white;">Jl. Menteri Supeno No.48, Sorosutan, Kec. Umbulharjo, Kota Yogyakarta,
                        Daerah Istimewa Yogyakarta 55161
                    </p>
                </div>
                <div class="col-4" style="padding-bottom: 2rem;">
                    <p style="font-weight: 800; font-size: 1.5rem; color:#402218 ;">Email</p>
                    <p style="color: white;">thriftingku@gmail.com</p>
                </div>
                <div style="padding-bottom: 2rem;">
                    <div class=" col-4" style="padding-bottom: 3rem;">
                        <p style="font-weight: 800; font-size: 1.5rem; color:#402218 ;">Telp</p>
                        <p style="color: white;">(021) 12345678 </p>
                    </div>
                </div>
            </div>



        </div>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3952.589179932532!2d110.38093251450934!3d-7.833229579986121!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e7a5701a2ae1c23%3A0x173dbeeddc56d9e!2sUniversitas%20Ahmad%20Dahlan%20-%20Kampus%204!5e0!3m2!1sid!2sid!4v1624455877878!5m2!1sid!2sid"
            width="550" height="450" style="border:0; margin: 1rem;" allowfullscreen="" loading="lazy"></iframe>

    </div>
</section>