<h2 mat-dialog-title><b>Tambah Catalog Baru</b></h2>
<div mat-dialog-content>
    <mat-form-field style="width: 100%;">
        <mat-label>Merk Pakaian</mat-label>
        <input matInput [(ngModel)]="data.merk">
    </mat-form-field>

    <mat-form-field style="width: 100%;">
        <mat-label>Ukuran</mat-label>
        <input matInput [(ngModel)]="data.ukuran">
    </mat-form-field>

    <mat-form-field style="width: 100%;">
        <mat-label>Minus</mat-label>
        <input matInput [(ngModel)]="data.minus">
    </mat-form-field>

    <mat-form-field style="width: 100%;">
        <mat-label>Harga</mat-label>
        <input matInput [(ngModel)]="data.harga">
    </mat-form-field>

    <mat-form-field style="width: 100%;">
        <mat-label>Penjual</mat-label>
        <input matInput [(ngModel)]="data.penjual">
    </mat-form-field>

    <mat-form-field style="width: 100%;">
        <mat-label>Lokasi Penjual</mat-label>
        <input matInput [(ngModel)]="data.lokasi">
    </mat-form-field>
</div>
<mat-dialog-actions style="display: flex; justify-content: end;">
    <span class="spacer"></span>
    <button mat-button mat-dialog-close>Batal</button>
    <button mat-raised-button style="background-color: #865439; color: white;" [mat-dialog-close]="true"
        (click)="simpan()">Simpan</button>
</mat-dialog-actions>